body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: white;

    background-image: url(gif.gif);
    background-size: 25%;
}

.navbar ul {
    list-style-type: none;
    background-color: #322335;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;   
}

.navbar li {
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: goldenrod;   
    color: black;          
}

.main-content {
    display: flex;
    justify-content: center;   
    align-items: flex-start;   
    gap: 60px;                 
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    background-color: #1c2841;
    border: 4px solid white;
    border-radius: 12px;

    width: 500px;
    height: 900px;
    padding: 40px 20px;
}

.img {
    max-width: 80%;
    height: auto;
    object-fit: contain;
    margin-bottom: 8px;
}

.table-box {
    background-color: #1c2841;
    border: 4px solid white;
    border-radius: 12px;
    text-align: center;

    width: 500px;
    height: 900px;
    padding: 40px 20px;
    color: white;
}

.table-box table {
    width: 100%;
    border-collapse: collapse;
    color: white;
}

.table-box th {
    color: black;
    border: 1px solid white;
    background: goldenrod;
    padding: 8px;
    text-align: center;
}

.table-box td {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
}
